POSTGRES_CONTAINER_NAME=my-postgres
POSTGRES_VERSION=17
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydatabase
POSTGRES_PORT=5432
POSTGRES_NETWORK_NAME=app_a_net
POSTGRES_NETWORK_SUBNET=10.44.7.0/24
POSTGRES_NETWORK_GATEWAY=10.44.7.1
POSTGRES_NETWORK_DB_IP=10.44.7.10